.scrollit {
  overflow-x: scroll;
  overflow-y: scroll;
  height: 62vh;
  width: 83vw;
}
.myb {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  /* white-space: nowrap; */
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  /* padding: 6px 12px; */
  font-size: 14px;
  /* line-height: 1.42857143; */
  border-radius: 4px;
  /* -webkit-user-select: none; */
  /* -moz-user-select: none; */
  /* -ms-user-select: none; */
  /* user-select: none; */
  color: #fff;
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
}
.fixed-right-view {
  position: sticky;
  right: 60px;
}
.fixed-right-edit {
  position: sticky;
  right: 10px;
}
.table-mymodify-confo {
  table-layout: 2rem;
  /* background-color: rgb(193, 192, 193); */
  border-radius: 2rem;
  width: 800vw;
}
.table-mymodify {
  table-layout: 2rem;
  /* background-color: rgb(193, 192, 193); */
  border-radius: 2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-center {
  text-align: center;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.search-departement {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 80%;
  max-width: 400px;
  font-weight: bold;
}

.department-head {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.department-head:hover {
  background-color: #0062cc;
}

.home-card {
  width: 30%;
}
.home-card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-top: 40px;
}
