.upload {
    justify-content: center;
    height: 3rem;
    width: 35rem;
    margin-left: 24rem;
    margin-top: 10rem;
    
    border: 1px solid black;
}

.mychange {
    height : 3rem;
    width: 15rem;
    margin-top: 10rem;
    border: 1px solid black;
}