.text-center {
    text-align: center;
  }
  
  .mycard {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-top: 5rem;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .col-4 {
    flex: 1;
    text-align: right;
  }
  
  .col-8 {
    flex: 2;
    text-align: left;
  }
  
  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  h4.label {
    margin-right: 20px;
  }
  
  .profile-edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .profile-edit-button:hover {
    background-color: #0062cc;
  }
  